* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
* Original Source Code developed by the Aion-Lightning team				-
* The Encom team took up the revision of the code						-
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
* This Source - Community Project of Aion 5.8 Emulator					-
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
* https://github.com/MATTYOneInc/AionEncomBase							-
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
* Know Developers:														-
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
* - AEJTester				- ATracer				- Aion Gates		-
* - AionChs Master			- Alcapwnd				- Antivirus			-
* - Antraxx					- Aquanox				- Avol				-
* - Ben						- Bio					- CoolyT			-
* - Divinity				- Dr.Nism				- Falke_34			-
* - FrozenKiller			- Ghostfur				- GiGatR00n			-
* - Gregg Patton			- Hilgert				- Ian Phillips		-
* - IceReaper				- Imaginary				- Joshua Slack		-
* - KID						- KKnD					- Kamui				-
* - Kirill Vainer			- KorLightning			- Layane			-
* - Lightning				- LokiReborn			- Luno				-
* - Luzien					- Lyahim				- M@xx				-
* - Magenik					- Mark Powell			- MATTY				-
* - Metos					- Mr. Poke				- Nemesiss			-
* - Nemiroff				- NewLives				- Rama				-
* - Ranastic				- Rinzler				- G-Robson26			-
* - Rolandas				- RotO					- Sarynth			-
* - Simple					- Sippolo				- SoulKeeper		-
* - Source	 				- Sweetkr				- Taran				-
* - Undertrey				- VladimirZ				- Wakizashi			-
* - Wnkrz					- Xav					- Xitanium			-
* - alexa026				- antness				- cura				-
* - dezalmado				- kecimis				- kosyachok			-
* - lhw						- lhwKaipo				- lord_rex			-
* - nrg						- orfeo087				- orz				-
* - rhys2002				- sphinx				- srx47				-
* - vlog					- xTz					- xavier			-
* - yecgaaj					- zdead			- Angry Catster 
* - cinus          - kortana    - Magenik   - sunbsn							-
* - podpol        - DainAvenger    -Belloxy
* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
